target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated*
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.idea
*.iws
*.iml
*.ipr
*.class
.gradle/
out/
*.log
*.tmp
*.zip
local.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
META-INF/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.github
.docs
.config
.package-lock.json
package-lock.json
.yarn.lock
node_modules/
dist/

### Environment Variables ###
.env
.envrc

### Logs ###

/logs/audit.log
/logs/srvcanal.log
/logs/*
/gherkin-results/
/.allure/
/*Results.xml
/*Result.xml
/*Results.json
/*Result.json
